export(glycan)
export(glycan_predict_structures)
export(glycan_generate_fragments)
export(glycan_mass)
export(glycan_visualize)

export(glycan_analysis_new)
export(glycan_analysis_export)
export(glycan_analysis_structures)
export(glycan_analysis_theoretical_df)
export(glycan_analysis_clean_df)
export(glycan_analysis_summary)
export(glycan_analysis_visualize)

export(peptide)
export(peptide_fragments)

export(glycopeptide)
export(glycopeptide_fragments)
export(glycopeptide_summary)

export(list_supported_modifications)
export(set_glycofrag_conda_env)
export(glycofrag_install)

importFrom(reticulate,import)
importFrom(reticulate,py_available)
importFrom(reticulate,py_to_r)
importFrom(reticulate,use_condaenv)
importFrom(reticulate,conda_binary_exists)
importFrom(reticulate,install_miniconda)
importFrom(reticulate,conda_list)
importFrom(reticulate,conda_create)
importFrom(reticulate,conda_install)
importFrom(reticulate,py_install)
importFrom(utils,globalVariables)
