export(glycan_new)
export(glycan_predict_structures)
export(glycan_generate_fragments)
export(glycan_mass)
export(glycan_visualize)

export(glycan_analysis_new)
export(glycan_analysis_export)
export(glycan_analysis_structures)
export(glycan_analysis_theoretical_df)
export(glycan_analysis_clean_df)
export(glycan_analysis_summary)
export(glycan_analysis_visualize)

export(peptide_new)
export(peptide_fragments)

export(glycopeptide_new)
export(glycopeptide_fragments)
export(glycopeptide_summary)

export(list_supported_modifications)
export(set_glycofrag_conda_env)

importFrom(reticulate,import)
importFrom(reticulate,py_available)
importFrom(reticulate,py_to_r)
importFrom(reticulate,use_condaenv)
importFrom(utils,globalVariables)
